# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# =========================
# Terraform
# =========================
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# =========================
# AWS
# =========================
.aws/

# =========================
# Docker
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
